<div class="centre jumbotron">
  <h1>Welcome to Myreceipes</h1>
  <%= link_to "Sign Up","",class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Receipes as Guest User
    </h3>
    <h2 class="left">Browse receipes, sign up later
    </h2>
    <p>
      <%=link_to "browse receipe listings","",class:"btn btn-warning btn-small"%>
    </p>
    
  </div>
    <div class="col-lg-4">
    <h3 class="midrow">
      View Receipes as Guest User
    </h3>
    <h2 class="left">Browse receipes, sign up later
    </h2>
    <p>
      <%=link_to "browse receipe listings","",class:"btn btn-warning btn-small"%>
    </p>
    
  </div>
    <div class="col-lg-4">
    <h3 class="midrow">
      View Receipes as Guest User
    </h3>
    <h2 class="left">Browse receipes, sign up later
    </h2>
    <p>
      <%=link_to "browse receipe listings","",class:"btn btn-warning btn-small"%>
    </p>
    
  </div>
  
</div>